.card-container {
    /* min-width: 220px; */
    text-align: center;
    /* margin-bottom: 20px; */
    /* border: 1px solid; */
    height: 160px;
    border: 1px solid #ccccdc12;
    border-radius: 3px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    background-color: #181b1f;
}
.header {
    color: white;
    padding-top: 5px;
}
.content {
    flex-grow: 1;
    display: flex;
    margin: auto;
    align-items: center;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(115, 191, 105);
}

.value {
    font-size: 55px;
    margin-right: 3px;
}

.unit {
    font-size: 25px;
}

@media (min-width: 1140px) and (max-width: 1250px) {
    .value {
        font-size: 50px;
    }
    
    .unit {
        font-size: 20px;
    }
}
@media (min-width: 400px) and (max-width: 700px) {
    .value {
        font-size: 45px;
    }
    
    .unit {
        font-size: 17px;
    }
}