.chart-container {
    display: flex; 
    width: 100%;
    /* color: rgb(115, 191, 105); */
    justify-content: center;
    flex-wrap: wrap;
}

.chart {
    min-width: 49.2%;
    border: 1px solid #ccccdc12;
    border-radius: 3px;
    background-color: #181b1f;
    margin: 0.3%;
    text-align: center;
    /* flex: 47%; */
    /* flex: 49%; */
    cursor: pointer;
}

mat-slider {
    margin-top: -20px;
}

/* @media (max-width: 1268px) {
    .chart {
        min-width: 49%;
    }
} */
@media (max-width: 1018px) {
    .chart {
        min-width: 99%;
    }
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    /* padding: 10px; */
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/* @media (max-width: 1599px) {
    .chart {
        flex: 80%;
    }
} */

#scatter1, #scatter2, #scatter3, #scatter4 ,#scatter5 ,#scatter6, #scatter7 {
    margin: 15px;
}

.header {
    color: white;
    padding-top: 5px;
}

::ng-deep .axis-grid line {
    stroke: lightgrey;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}

::ng-deep .axis-grid1 line {
    stroke: lightgrey;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}
::ng-deep .axis-grid2 line {
    stroke: lightgrey;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}

::ng-deep .axis-grid path {
    stroke-width: 0;
}
::ng-deep .axis-grid1 path {
    stroke-width: 0;
}
::ng-deep .axis-grid2 path {
    stroke-width: 0;
}

::ng-deep .line {
    fill: none;
    stroke: rgb(115, 191, 105);
    stroke-width: 1.4px;
}
::ng-deep .line-1 {
    fill: none;
    stroke: white;
    stroke-width: 1.4px;
}
  