<mat-toolbar class="toolbar">
    <span>Außenklima</span>
    <div class="spacer"></div>
    <mat-form-field *ngIf="stations" appearance="fill">
        <mat-label>Station</mat-label>
        <mat-select [(ngModel)]="selectedStation" (selectionChange)="onSelectStation($event)">
          <mat-option [value]="station.id" *ngFor="let station of stations">{{ station.name }}</mat-option>
        </mat-select>
      </mat-form-field>
</mat-toolbar>
<div class="content-container">
    <app-simple-card [dataType]="dataType" [selectedStation]="selectedStation"></app-simple-card>
    <app-graph [dataType]="dataType" [selectedStation]="selectedStation"></app-graph>
</div>
